# Sass
.sass-cache

# Grav Specific
data/*
!data/.*
plugins/*
!plugins/.*
themes/learn2
log/*

# OS Generated
.DS_Store*
thumbs.db
Thumbs.db
*.swp

#specific to dev
._*
.htaccess
.gitkeep
.idea
.idea/.*
